ion-toolbar{
  color: black;
  
  --background: rgb(45,97,251);
  --background: linear-gradient(90deg, rgba(45,97,251,0.8127626050420168) 23%, rgba(34,42,247,0.5914740896358543) 41%, rgba(15,169,255,1) 72%, rgba(21,65,236,1) 97%);
}
ion-menu-button {
  color: black;
}

ion-content{
  --background: url(../../assets/img/bgmenu.jpg) ;
  background-repeat:no-repeat;
  background: size cover;
  --ion-item-background: var(--ion-background-color, transparent) ;
}


